* {
  margin:0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.content {
  margin:20px auto;
}

.info-list {
  list-style: none;
}

#canvas {
  background-color: #cdffcc;
}

#nextShape {
  background-color: #1dffdd;
}

.key_image {
  width:40px;
  height: 40px;
}

#pause {
  visibility: hidden;
}